# Credentials
MYSQL_ROOT_PASSWORD=
MARIADB_USER=
MARIADB_PASSWORD=

MARIADB_DATABASE=igcl

# Container to Container
MARIADB_HOST=mariadb
MARIADB_PORT=3306

# Local to Container
MARIADB_PORT_LOCAL=2001
MARIADB_HOST_LOCAL=localhost
# For mysqldump, as it does not work with localhost
MARIADB_HOST_LOCAL_IP=127.0.0.1
