# Credentials
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Container to Container
MONGODB_HOST=
MONGODB_PORT=27017

# Local to Container
MONGODB_PORT_LOCAL=2002
MONGODB_HOST_LOCAL=localhost
MONGODB_HOST_LOCAL_IP=127.0.0.1
