# Credentials
# Basic Auth for Mongo Express UI
ME_CONFIG_BASICAUTH_ENABLED=true
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=

# Container to Container
# MongoDB connection details, using Containername
ME_CONFIG_MONGODB_URL=mongodb://XXX:XXX@XXX:XXX

# Enable admin access to all databases
ME_CONFIG_MONGODB_ENABLE_ADMIN=true
