# backend.env
USER_COUNT=3

# Admin User
USER_1_EMAIL=admin@tagheroes.ch
USER_1_PASSWORD=ch4nge@me1
USER_1_ROLE=admin,expert,labeler
USER_1_LABELING_SCORE=19.0
USER_1_EXPERT_SCORE=97.0

# Labeler User
USER_2_EMAIL=labeler@tagheroes.ch
USER_2_PASSWORD=ch4nge@me2
USER_2_ROLE=labeler
USER_2_LABELING_SCORE=85.5

# Expert User
USER_3_EMAIL=expert@tagheroes.ch
USER_3_PASSWORD=ch4nge@me3
USER_3_ROLE=expert
USER_3_LABELING_SCORE=90.0
USER_3_EXPERT_SCORE=95.0

